@model IEnumerable<HerhalingIdee_Domain.Business.IdeePersoon>

@{
    ViewData["Title"] = "Ideeënlijst";
}

<h1>ideeënlijst</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaamPersoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelPersoon)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Idee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaamPersoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelPersoon)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Idee)
            </td>
            <td>
                    <a asp-action="DeleteIdee" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
